form {
  padding: 10px 0;
  position: relative;
  z-index: 2;
}

form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 225px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #283747;
}
.items{
	background-color: lightgreen;
}
.selected {
	background-color: lightblue;
}
.list-group-item:hover {
  background: #EEE;
  cursor: pointer;
}
.form-group-input {
    text-transform: uppercase;
}
.container{
  margin:center;
  height: 800px;
  color: #D6EAF8;
}
.wrapper {
  background: #151515;
 
}
.cute{
	text-transform: uppercase;
}
.cuter{
  background: #151515;
  text-transform: uppercase;
  color: #FDFEFE;
}
.glow-on-hover {
    padding: 10px 15px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #FBFCFC;
    background: #151515;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
	  font-weight: thin;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #151515
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #151515;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
